
  
  <ion-toolbar class="toolbar">
    <ion-avatar aria-hidden="true" slot="start"  style="margin: 2px 2px 2px; margin-left: 5px; margin-top: 5px;"  (click)="tirarFoto()" >
      <ion-img [src]="fotoService.fotoPerfil[0].webviewPath || 'assets/default-avatar.jpg'"></ion-img>
    </ion-avatar>
    
    <h2 *ngIf="username">{{ username }}</h2> <p>Bem-vindo(a), !</p>
    
  </ion-toolbar>
<ion-content fullscreen="true">

<br>

<p>você esta em</p>
<br>
<h3>Tudo sobre: <i class="dengue">Dengue</i></h3>

<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/mosquito.jpg" class="img" ></ion-col>
    <ion-col class="p"><p >Brasil é país com mais casos de dengue no mundo, alerta OMS
      <br><br>
      <a href=" https://www.cnnbrasil.com.br/nacional/brasil-e-pais-com-mais-casos-de-dengue-no-mundo-alerta-oms/"><i>Saiba Mais</i></a>
    </p>
  </ion-col>
  </ion-row>
</ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="img"> <img src="/assets/icon/foto-de-foco-seletivo.jpg" class="img" ></ion-col>
        <ion-col class="p"><p >Cidade do Rio de Janeiro registra maior aumento de casos de dengue em quase 10 anos
          <br><br>
        <a href=" https://www.cnnbrasil.com.br/nacional/cidade-do-rio-de-janeiro-registra-maior-aumento-de-casos-de-dengue-em-quase-10-anos/"><i>Saiba Mais</i></a>
        </p></ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="img"> <img src="/assets/icon/Screenshot_4.png" class="img" ></ion-col>
        <ion-col class="p"><p >Vacina contra dengue é incorporada ao SUS, anuncia Ministério da Saúde
          <br><br>
          <a href=" https://www.cnnbrasil.com.br/nacional/vacina-da-dengue-e-incorporada-ao-sus-anuncia-ministerio-da-saude/"><i>Saiba Mais</i></a>

        </p></ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="img"> <img src="/assets/icon/Screenshot_19.png" class="img" ></ion-col>
        <ion-col class="p"><p >Minas Gerais e Espírito Santo têm alerta para epidemia de dengue em 2024, diz Saúde
          <br><br>
          <a href="https://www.cnnbrasil.com.br/saude/minas-gerais-e-espirito-santo-tem-alerta-para-epidemia-de-dengue-em-2024-diz-saude/ "><i>Saiba Mais</i></a>   

        </p></ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="img"> <img src="/assets/icon/Screenshot_2.png" class="img" ></ion-col>
        <ion-col class="p"><p >Governo federal prevê aumento nos casos de dengue para o início de 2024
          <br><br>
          <a href="https://www.cnnbrasil.com.br/nacional/governo-federal-preve-aumento-nos-casos-de-dengue-para-o-inicio-de-2024/ "><i>Saiba Mais</i></a>

        </p></ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="img"> <img src="/assets/icon/Screenshot_3.png" class="img" ></ion-col>
        <ion-col class="p"><p >Alta de casos e proliferação de mosquitos da dengue cria efeito em cascata, diz infectologista
          <br><br>
        <a href=" https://www.cnnbrasil.com.br/saude/alta-de-casos-e-proliferacao-de-mosquitos-da-dengue-cria-efeito-em-cascata-diz-infectologista/"><i>Saiba Mais</i></a>


        </p></ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="img"> <img src="/assets/icon/Screenshot_6.png" class="img" ></ion-col>
        <ion-col class="p"><p >Dengue atinge 75% dos municípios do Brasil no início do ano; casos crescem 43% em relação a 2022
          <a href=" https://www.cnnbrasil.com.br/saude/dengue-atinge-75-dos-municipios-do-brasil-no-inicio-do-ano-casos-crescem-43-em-relacao-a-2022/"><i>Saiba Mais</i></a>

        </p></ion-col>
      </ion-row>
    </ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_7.png" class="img" ></ion-col>
    <ion-col class="p">Conheça a diferença entre os sintomas de dengue e de chikungunya<p >
      <a href="https://www.cnnbrasil.com.br/saude/conheca-a-diferenca-entre-os-sintomas-de-dengue-e-de-chikungunya/ "><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_8.png" class="img" ></ion-col>
    <ion-col class="p">Falta inseticida para combater o mosquito Aedes aegypti no Brasil<p >
      <a href=" https://www.cnnbrasil.com.br/saude/falta-inseticida-para-combater-o-mosquito-aedes-aegypti-no-brasil/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_9.png" class="img" ></ion-col>
    <ion-col class="p">Casos de chikungunya aumentam 110% em 2023; conheça os sintomas<p >
      <a href="https://www.cnnbrasil.com.br/saude/casos-de-chikungunya-aumentam-110-em-2023-conheca-os-sintomas/ "><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_10.png" class="img" ></ion-col>
    <ion-col class="p">Casos de dengue crescem 47% na cidade de São Paulo em 2023; saiba como prevenir<p >
      <a href=" https://www.cnnbrasil.com.br/saude/casos-de-dengue-crescem-47-na-cidade-de-sao-paulo-em-2023-saiba-como-prevenir/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_12.png" class="img" ></ion-col>
    <ion-col class="p">Brasil bate recorde anual de mortes por dengue em 2022<p >
      <a href=" https://www.cnnbrasil.com.br/saude/com-987-mortes-por-dengue-em-2022-brasil-bate-recorde-em-letalidade-anual/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_11.png" class="img" ></ion-col>
    <ion-col class="p">Combate à dengue tem que ser prioridade do novo governo, defende virologista<p >
      <a href=" https://www.cnnbrasil.com.br/saude/combate-a-dengue-tem-que-ser-prioridade-do-novo-governo-defende-virologista/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_13.png" class="img" ></ion-col>
    <ion-col class="p">Veja por que pernilongos são mais atraídos por algumas pessoas do que por outras<p >
      <a href=" https://www.cnnbrasil.com.br/saude/veja-por-que-pernilongos-sao-mais-atraidos-por-algumas-pessoas-do-que-por-outras/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_14.png" class="img" ></ion-col>
    <ion-col class="p">Campanha de combate ao Aedes aegypti custará R$ 15 milhões<p >
      <a href=" https://www.cnnbrasil.com.br/nacional/campanha-de-combate-ao-aedes-aegypti-custara-15-milhoes/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_15.png" class="img" ></ion-col>
    <ion-col class="p">Altas temperaturas têm relação com aumento de casos de dengue, diz pesquisadora<p >
      <a href="https://www.cnnbrasil.com.br/saude/altas-temperaturas-tem-relacao-com-aumento-de-casos-de-dengue-diz-pesquisadora/ "><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_18.png" class="img" ></ion-col>
    <ion-col class="p">Além dos casos de dengue, teremos alta de Zika e chikungunya, alerta virologista<p >
      <a href=" https://www.cnnbrasil.com.br/saude/alem-dos-casos-de-dengue-teremos-alta-de-zika-e-chikungunya-alerta-virologista/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_16.png" class="img" ></ion-col>
    <ion-col class="p">Saiba o que é “gripe do tomate”, vírus que tem afetado crianças na Índia<p >
      <a href="https://www.cnnbrasil.com.br/saude/saiba-o-que-e-gripe-do-tomate-virus-que-tem-afetado-criancas-na-india/ "><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_17.png" class="img" ></ion-col>
    <ion-col class="p">Emergência de dengue em Singapura é presságio das mudanças climáticas no mundo, dizem especialistas<p >
      <a href="https://www.cnnbrasil.com.br/saude/emergencia-de-dengue-em-singapura-e-pressagio-das-mudancas-climaticas-no-mundo-alertam-especialistas/ "><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
    
    
  
  

</ion-content>

  <ion-footer class="footer">
    <ion-grid>
    <ion-row>
      <ion-col><ion-tab-button tab="voltar">
        <ion-icon name="arrow-undo-circle-outline" (click)="functionVoltar()"></ion-icon>
        Voltar
      </ion-tab-button></ion-col>

      <ion-col>
        <ion-tab-button tab="list-outline"  >
        <ion-icon name="home-outline" [routerLink]="['/menu']"></ion-icon>Home</ion-tab-button>
      </ion-col>

      <ion-col>
        <ion-tab-button tab="Sair" >
        <ion-icon name="exit-outline" (click)="showSair()"></ion-icon>Sair</ion-tab-button>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>





