.container{

    margin-top: 50%;
    padding: 10px;
    
    text-align: center;
  
  }
  
  div{
    text-align: center;
    padding: 20px;
    margin: 25px;
    margin-top: 120px;
    background-color: #524c4b;
    border-radius: 8px;
}

.footer{
  border-radius: 7px;
  
  background-color: rgb(33, 120, 250);
  height: 13%;
 
}

ion-icon{
  border-radius: 9px;

  background-color: rgb(33, 120, 250);

  width: 65px;
  height: 65px;
  
 
}
.toolbar{
  border-radius: 9px;
  background-color: rgb(33, 120, 250);

}