<ion-content >

  <ion-header>
    <ion-toolbar class="toolbar">
    <ion-avatar aria-hidden="true" slot="start"  style="margin: 2px 2px 2px; margin-left: 5px; margin-top: 5px;" >
      <ion-img [src]="fotoService.fotoPerfil[0].webviewPath || 'assets/default-avatar.jpg'"></ion-img>
    </ion-avatar>
    
    <!-- <i><ion-label ><h2 *ngIf="username" {{ username }}>Olá Paulo</h2></ion-label></i>// -->
    
    
  </ion-toolbar>
  </ion-header>
  <br>
  <ion-content>

    <ion-card  *ngFor="let denuncia of data" id="dados" style="border: 1px solid;">
      <ion-card-header>
        
        <ion-card-subtitle>Denuncia</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content >
        <p>Rua : {{denuncia.rua}}</p>
        <p>Bairro : {{denuncia.bairro}}</p>
        <p>Cidade : {{denuncia.cidade}}</p>
        <p>Numero : {{denuncia.numero}}</p>
        <p>Data: {{ denuncia.Dia | date:'dd/MM/yyyy' }}</p>

        
        <p>Observação : {{denuncia.obs}}</p>
        
        <ion-item style="border-radius: 10px;background-color: none; border: 1px solid;" >

          <!-- <ion-button (click)="CadastroDenuncia()" >Cadastrar</ion-button> -->
          <ion-button class="button" color="secondary" (click)="EditaDenuncia(denuncia)">Editar</ion-button>
          <ion-button class="button" color="danger"  (click)="deleteDenuncia(denuncia.id)">Excluir</ion-button>
    
        </ion-item>
        <br>
        <br>
      </ion-card-content>
    </ion-card>
    
  

  <br><br>
</ion-content >
  <ion-footer class="footer">
    <ion-grid>
      <ion-row>
        <ion-col><ion-tab-button tab="home">
          <ion-icon name="search-outline"></ion-icon>
          Buscar
        </ion-tab-button></ion-col>

        <ion-col>
          <ion-tab-button tab="list-outline">
          <ion-icon name="home-outline" [routerLink]="['/menu']"></ion-icon>Home</ion-tab-button>
        </ion-col>

        <ion-col>
          <ion-tab-button tab="Sair" >
          <ion-icon name="exit-outline" (click)="showSair()"></ion-icon>Sair</ion-tab-button>
        </ion-col>
        </ion-row>
      </ion-grid>
    
    

</ion-footer>
  
