
  
  <ion-toolbar class="toolbar">
    <ion-avatar aria-hidden="true" slot="start"  style="margin: 2px 2px 2px; margin-left: 5px; margin-top: 5px;" >
      <ion-img [src]="FotoService.fotoPerfil[0].webviewPath || 'assets/default-avatar.jpg'"></ion-img>
    </ion-avatar>
    
  <!-- //<i><ion-label ><h3 *ngIf="username" {{ username }}>Olá Paulo</h3></ion-label></i>s -->
  <i><ion-label>
    <h2 *ngIf="username">{{ username }}</h2> <p>Bem-vindo(a), !</p>
    </ion-label></i>
  </ion-toolbar>
<ion-content fullscreen="true">

<br>
<br>
<br>
<br>
<h3>Algumas dicas para previnir a <i class="dengue">Dengue</i></h3>

<ion-grid>
  <ion-row>
    
    <ion-col class="img"> <img src="/assets/icon/repelente.png" class="img" ></ion-col>

    <ion-col class="p"><p >Utilize repelente
      Passar o produto nas partes do corpo que ficam expostas, como braços e pernas, é uma maneira eficaz de manter os mosquitos afastados da pele
      <br><br>
      <!-- <a href=" https://www.cnnbrasil.com.br/nacional/brasil-e-pais-com-mais-casos-de-dengue-no-mundo-alerta-oms/"><i>Saiba Mais</i></a> -->
      
    </p>
    
  </ion-col>
  </ion-row>
</ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="p"> Cubra a maior parte do corpo, quando possível 
          O Aedes aegypti é atraído pela substância que o corpo humano elimina por meio do suor e da respiração, por isso é importante utilizar roupas que cubram a maior parte do corpo

        </ion-col>
        <ion-col ><p ><img src="/assets/icon/manga_longa.png" class="img" >
          <br><br>
       
        </p></ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="img"> <img src="/assets/icon/agua_parada.png" class="img" ></ion-col>
        <ion-col class="p"><p> <b>Elimine focos de água parada</b>
          Evite deixar qualquer reservatório de água parada sem proteção em casa. O mosquito pode usar como criadouros desde espaços como caixas d’água e piscinas abertas
          <br><br>

        </p></ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="p"> Coloque telas em janelas e portas
          Fique, preferencialmente, em locais com telas de proteção, mosquiteiros ou outras barreiras disponíveis. </ion-col>
        <ion-col class="img"><p ><img src="/assets/icon/telas_protecao.png" class="img">
          <br><br>
         

        </p></ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="img"> <img src="/assets/icon/inceticida_larvicida.png" class="img" ></ion-col>
        <ion-col class="p"><p >Aplique inseticidas e larvicidas
          inseticidas são grandes aliados na prevenção da dengue, pois ajudam a eliminar focos do mosquito em locais abertos e fechados.
          <br><br>
        
        </p></ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <!-- <ion-grid>
      <ion-row>
        <ion-col class="img"> <img src="/assets/icon/Screenshot_3.png" class="img" ></ion-col>
        <ion-col class="p"><p >Alta de casos e proliferação de mosquitos da dengue cria efeito em cascata, diz infectologista
          <br><br>
        <a href=" https://www.cnnbrasil.com.br/saude/alta-de-casos-e-proliferacao-de-mosquitos-da-dengue-cria-efeito-em-cascata-diz-infectologista/"><i>Saiba Mais</i></a>


        </p></ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col class="img"> <img src="/assets/icon/Screenshot_6.png" class="img" ></ion-col>
        <ion-col class="p"><p >Dengue atinge 75% dos municípios do Brasil no início do ano; casos crescem 43% em relação a 2022
          <a href=" https://www.cnnbrasil.com.br/saude/dengue-atinge-75-dos-municipios-do-brasil-no-inicio-do-ano-casos-crescem-43-em-relacao-a-2022/"><i>Saiba Mais</i></a>

        </p></ion-col>
      </ion-row>
    </ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_7.png" class="img" ></ion-col>
    <ion-col class="p">Conheça a diferença entre os sintomas de dengue e de chikungunya<p >
      <a href="https://www.cnnbrasil.com.br/saude/conheca-a-diferenca-entre-os-sintomas-de-dengue-e-de-chikungunya/ "><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_8.png" class="img" ></ion-col>
    <ion-col class="p">Falta inseticida para combater o mosquito Aedes aegypti no Brasil<p >
      <a href=" https://www.cnnbrasil.com.br/saude/falta-inseticida-para-combater-o-mosquito-aedes-aegypti-no-brasil/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_9.png" class="img" ></ion-col>
    <ion-col class="p">Casos de chikungunya aumentam 110% em 2023; conheça os sintomas<p >
      <a href="https://www.cnnbrasil.com.br/saude/casos-de-chikungunya-aumentam-110-em-2023-conheca-os-sintomas/ "><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_10.png" class="img" ></ion-col>
    <ion-col class="p">Casos de dengue crescem 47% na cidade de São Paulo em 2023; saiba como prevenir<p >
      <a href=" https://www.cnnbrasil.com.br/saude/casos-de-dengue-crescem-47-na-cidade-de-sao-paulo-em-2023-saiba-como-prevenir/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_12.png" class="img" ></ion-col>
    <ion-col class="p">Brasil bate recorde anual de mortes por dengue em 2022<p >
      <a href=" https://www.cnnbrasil.com.br/saude/com-987-mortes-por-dengue-em-2022-brasil-bate-recorde-em-letalidade-anual/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_11.png" class="img" ></ion-col>
    <ion-col class="p">Combate à dengue tem que ser prioridade do novo governo, defende virologista<p >
      <a href=" https://www.cnnbrasil.com.br/saude/combate-a-dengue-tem-que-ser-prioridade-do-novo-governo-defende-virologista/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_13.png" class="img" ></ion-col>
    <ion-col class="p">Veja por que pernilongos são mais atraídos por algumas pessoas do que por outras<p >
      <a href=" https://www.cnnbrasil.com.br/saude/veja-por-que-pernilongos-sao-mais-atraidos-por-algumas-pessoas-do-que-por-outras/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_14.png" class="img" ></ion-col>
    <ion-col class="p">Campanha de combate ao Aedes aegypti custará R$ 15 milhões<p >
      <a href=" https://www.cnnbrasil.com.br/nacional/campanha-de-combate-ao-aedes-aegypti-custara-15-milhoes/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_15.png" class="img" ></ion-col>
    <ion-col class="p">Altas temperaturas têm relação com aumento de casos de dengue, diz pesquisadora<p >
      <a href="https://www.cnnbrasil.com.br/saude/altas-temperaturas-tem-relacao-com-aumento-de-casos-de-dengue-diz-pesquisadora/ "><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_18.png" class="img" ></ion-col>
    <ion-col class="p">Além dos casos de dengue, teremos alta de Zika e chikungunya, alerta virologista<p >
      <a href=" https://www.cnnbrasil.com.br/saude/alem-dos-casos-de-dengue-teremos-alta-de-zika-e-chikungunya-alerta-virologista/"><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_16.png" class="img" ></ion-col>
    <ion-col class="p">Saiba o que é “gripe do tomate”, vírus que tem afetado crianças na Índia<p >
      <a href="https://www.cnnbrasil.com.br/saude/saiba-o-que-e-gripe-do-tomate-virus-que-tem-afetado-criancas-na-india/ "><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="img"> <img src="/assets/icon/Screenshot_17.png" class="img" ></ion-col>
    <ion-col class="p">Emergência de dengue em Singapura é presságio das mudanças climáticas no mundo, dizem especialistas<p >
      <a href="https://www.cnnbrasil.com.br/saude/emergencia-de-dengue-em-singapura-e-pressagio-das-mudancas-climaticas-no-mundo-alertam-especialistas/ "><i>Saiba Mais</i></a>
    </p></ion-col>
  </ion-row>
</ion-grid> -->
<br>
    
    
  
  

</ion-content>

  <ion-footer class="footer">
    <ion-grid>
    <ion-row>
      <ion-col><ion-tab-button tab="voltar">
        <ion-icon name="arrow-undo-circle-outline" (click)="functionVoltar()"></ion-icon>
        Voltar
      </ion-tab-button></ion-col>

      <ion-col>
        <ion-tab-button tab="list-outline"  >
        <ion-icon name="home-outline" [routerLink]="['/menu']"></ion-icon>Home</ion-tab-button>
      </ion-col>

      <ion-col>
        <ion-tab-button tab="Sair" >
        <ion-icon name="exit-outline" ></ion-icon>Sair</ion-tab-button>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>





